<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://files.monghoo.com/resources/mybatis-3-mapper.dtd">

<mapper namespace="com.example.daily.mybatis.MybatisDao">
    <!-- 启用缓存 -->
    <cache />
    <select id="getMenus" resultType="Map">
    	select * from menu where id=#{idddd}
    </select>

    <select id="getMenus4ManyParams" resultType="Map">
    	select * from menu where required=#{param1} and parentMenu=#{param2}
    </select>

    <select id="getMenus4MapParams" resultType="Map" parameterType="Map">
    	select * from menu where required=#{required} and parentMenu=#{parentMenu}
    </select>

    <select id="getMenus4POJO" resultType="Map" parameterType="com.example.daily.mybatis.Menu">
    	select * from menu where required=#{required} and parentMenu=#{parentMenu}
    </select>
    <resultMap type="com.example.daily.mybatis.Menu" id="menuResultMap">
        <id column="oid" jdbcType="VARCHAR" property="oid" />
        <result column="pid" jdbcType="VARCHAR" property="pid" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
        <result column="menu_sort" jdbcType="VARCHAR" property="menuSort" />
        <result column="is_menu" jdbcType="INTEGER" property="isMenu" />
        <result column="menu_code" jdbcType="INTEGER" property="menuCode" />
        <collection property="childs" ofType="com.example.daily.mybatis.Menu">
        	<id column="sOid" property="oid"/>
        	<result column="sonPid" property="pid"/>
        	<result column="sonMenuName" property="menuName"/>
        	<collection property="childs" ofType="com.example.daily.mybatis.Menu">
        		<id column="tlOid" property="oid"/>
	        	<result column="tlPid" property="pid"/>
	        	<result column="tlMenuName" property="menuName"/>
        	</collection>
        </collection>
    </resultMap>
    <select id="getMapMenu" resultMap="menuResultMap" parameterType="String">
    	select parent.id, parent.menu_name, parent.oid,parent.menu_code,parent.menu_url,
			son.oid as sonOid,son.pid as sonPid, son.menu_name as sonMenuName, 
			son.menu_code sonMenuCode,
            tlMenu.oid as tlOid, tlMenu.pid as tlPid, tlMenu.menu_name as tlMenuName, 
            tlMenu.menu_code as tlMenuCode
		from hc_menu parent
		left join hc_menu son on son.pid = parent.oid
        left join hc_menu tlMenu on tlMenu.pid = son.oid
		where parent.del_flag=1 and parent.is_menu=1 and parent.pid is null
    </select>

    <select id="getMapMenuSeprate" resultMap="menuResultMapSeprate">
    	select menu_name, oid from hc_menu where del_flag=1 and is_menu=1 and pid is null
    </select>
    <resultMap type="com.example.daily.mybatis.Menu" id="menuResultMapSeprate">
    	<id column="oid" jdbcType="VARCHAR" property="oid" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <collection property="childs" ofType="com.example.daily.mybatis.Menu" column="oid" select="findMenuByPid" />
    </resultMap>
    <select id="findMenuByPid" parameterType="String" resultMap="menuByPidResult">
    	select menu_name, oid from hc_menu where pid=#{oid}
    </select>
    <resultMap type="com.example.daily.mybatis.Menu" id="menuByPidResult">
    	<id column="oid" jdbcType="VARCHAR" property="oid" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <collection property="childs" ofType="com.example.daily.mybatis.Menu" column="oid" select="findMenuByPid" />
    </resultMap>
</mapper>
