<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://files.monghoo.com/resources/mybatis-3-mapper.dtd">

<mapper namespace="com.example.daily.mybatis.MybatisDao">
    <!-- 启用缓存 -->
    <cache />
    <select id="getMenus" resultType="Map">
    	select * from menu where id=#{idddd}
    </select>

    <select id="getMenus4ManyParams" resultType="Map">
    	select * from menu where required=#{param1} and parentMenu=#{param2}
    </select>

    <select id="getMenus4MapParams" resultType="Map" parameterType="Map">
    	select * from menu where required=#{required} and parentMenu=#{parentMenu}
    </select>

    <select id="getMenus4POJO" resultType="Map" parameterType="com.example.daily.mybatis.Menu">
    	select * from menu where required=#{required} and parentMenu=#{parentMenu}
    </select>

    <select id="getMapMenuSeprate" resultMap="menuResultMapSeprate">
    	SELECT oid, menu_name, menu_code FROM hc_menu WHERE del_flag = 1 AND is_menu = 1 AND pid IS NULL
    </select>
    <resultMap type="com.example.daily.mybatis.Menu" id="menuResultMapSeprate">
    	<id column="oid" jdbcType="VARCHAR" property="oid" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
        <collection property="childs" ofType="com.example.daily.mybatis.Menu" column="oid" select="findMenuByPid" />
    </resultMap>
    <select id="findMenuByPid" parameterType="String" resultMap="menuByPidResult">
    	select oid, menu_name, menu_code from hc_menu where is_menu=1 and pid=#{oid}
    </select>
    <resultMap type="com.example.daily.mybatis.Menu" id="menuByPidResult">
    	<id column="oid" jdbcType="VARCHAR" property="oid" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
        <collection property="childs" ofType="com.example.daily.mybatis.Menu" column="oid" select="findMenuByPid" />
    </resultMap>
</mapper>
